$primary: rgb(10, 20,10); 



@mixin nombremixin{  
  color: $primary;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;}

.info ul li{
  @include nombremixin();

  }

  @each $color in brown, cornflowerblue, saddlebrown, lightgreen {
      .card#{$color} {
        background-color: $color;
      }
    }

  .menu__item { 
    -webkit-animation:swirl-in-fwd .6s ease-out both;
      animation:swirl-in-fwd .6s ease-out both
      
  }
  @for $item from 1 to 6 {

    .menu__item#{$item} {
      animation-delay: $item*0.2s;
    }
}


/*Keyframe*/

@-webkit-keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}
@keyframes swirl-in-fwd{0%{-webkit-transform:rotate(-540deg) scale(0);transform:rotate(-540deg) scale(0);opacity:0}100%{-webkit-transform:rotate(0) scale(1);transform:rotate(0) scale(1);opacity:1}}
