*{margin: 0;
    padding: 0;}
    .grilla{
        display: grid;
        grid-template-rows:1fr 2fr 1fr 3fr ;
        grid-template-areas: "header" "portada" "info" "footer";
        row-gap: 0.5%;
        width: 100%;
    }
    body{
        overflow-x:hidden;
        background-repeat: no-repeat;
        background-size: cover;
        backdrop-filter: blur(3px);
        font-family: 'Edu TAS Beginner', cursive;
        text-align: center;
        background-image: url("../img/fondo.png")
    }
    header{
        grid-area: header;
        background-color: rgb(173, 216, 230, 0.6);
        display: flex;
    }
    li{
        list-style: none;
    }
    .titulo{
        font-size: 240%;
    }
    header {
        .logo{
            flex: 1;
            padding-top: 4%;
        }
    }
    nav{
        flex:1;
    }
    .opciones{
        
        text-decoration: none;
        text-decoration-style: none;
        list-style: none;
    }
    .portada{
        grid-area: portada;
        background-color: rgb(145, 238, 145, 0.5);  
    }
    section{
        display: grid;
        grid-template-areas: "img img img";
    }
    
    .fotos{
        display: flex;
        align-items: center;
        column-gap: 1%;
        filter: grayscale(20%);transition: all 3s;
        }
    .fotosIndividuales{
        display: flex;
        align-items: center;
        column-gap: 1%;
        filter: grayscale(20%);transition: all 3s;
    }
    .fotosIndividuales:hover {
        filter: grayscale(0);
        transform: scale(1.1);
        overflow: hidden;
    }
    .fotitos{
        flex: 1;
        width:100%;
        height: 180px;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        padding-right: 10%;
        height: 100%;
        margin-top: 10%;
    }
    table{
        margin: 0 auto;
        text-align: center;
        border: 2px solid black;
    }
    
    .info{
        grid-area: info;
        background-image: url(../img/fondomadera.png);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .InfoIzquierda{
        flex: 1;
    
    }
    .InfoDerecha{
        flex: 1;
    }
    footer{
        grid-area: footer;
        background-color: rgb(145, 238, 145, 0.5);
        display: flex;
        justify-content: space-evenly;
        text-align: center;
    }
    .footer-izquierda{
        flex:3;
        display: flex;
        flex-direction: column;
    }
    .footer-centro{
        flex: 1; 
    }
    .footer-derecha{
     flex: 1;
     display: flex;
     flex-direction: column;
    }
    .menu-footer{
        padding-top: 20%;
    }
    .menu-footer .opciones{
        
            text-decoration: none;
            text-decoration-style: none;
            list-style: none;
    }
    .social{
        width: 8px;
    }
    .experienciaU{
        font-size: 180%;
    }
    /* Codigo Galeria */
    .fotisGaleria{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    /* Contenedor mapa*/
    .contenedorUno{
        display: flex;
        flex-direction: column;
    }
    .cobeceraDos{
        flex: 1;
    }
    .fotosDos{
        flex: 1;
        justify-content: center;}
    .fotosDos:hover {
            transform: scale(1.1);
    }
    .fotitosDos{
        width: 30%;
        height: 0%;
    }
    .portadaDos{
        display: flex;
        align-items: center;
    }
    .tipos{
        font-weight: bold;
    }
    @media (max-width: 320px)
    {
        .grilla{
            display: grid;
            grid-template-rows:1fr 2fr 1fr 3fr ;
            grid-template-areas: "header" "portada" "info" "footer";
            row-gap: 20px;
        }
        header{
            grid-area: header;
            background-color: lightgreen;
            display: flex;
            flex-direction: column;
        }
        .titulo{
            padding-bottom: 100px;
            font-size: 30px;
        }
        header {
            .logo{
                flex: 1;
            }
        }
        table{
            margin: 0 auto;
            text-align: center;
            border: 2px solid black;
        }
        nav{
            flex:1;
        }
        .portada{
            grid-area: portada;
            grid-template-areas: "img img img";
            background-color: rgb(145, 238, 145, 0.5);
            align-items: center;
            padding: 30px;
            display: flex;
        }
        .fotos{
            display: flex;
            justify-content: center;
            column-gap: 20px;
            padding: 30px;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            row-gap: 10px;
        }
        .menu{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .info{
            grid-area: info;
            background-image: url(../img/fondomadera.png);
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
        footer{
            grid-area: footer;
            background-color: rgb(145, 238, 145, 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .footer-derecha{
            flex: 1;
            display: flex;
            flex-direction: row;
           }
           .social{
            width: 50px;
            height: 40px;
        }
        .footer-izquierda{
            flex:1;
            display: flex;
            flex-direction: column;
        }
    }
    @media (max-width: 560px)
    {
        .grilla{
            display: grid;
            grid-template-rows:1fr 2fr 1fr 3fr ;
            grid-template-areas: "header" "portada" "info" "footer";
            row-gap: 20px;
        }
        
        header{
            grid-area: header;
            background-color: rgb(145, 238, 145. 0.5);
            display: flex;
            flex-direction: column;
        }
        .titulo{
            padding-bottom: 10px;
            font-size: 30px;
        }
    
        header .logo{
            flex: 1;
        }
        nav{
            flex:1;
        }
        .portada{
            grid-area: portada;
            background-color: rgb(145, 238, 145, 0.5);
            align-items: center;
            padding: 30px;
            display: flex;
        }
        .fotos{
            display: flex;
            justify-content: center;
            column-gap: 20px;
            padding: 30px;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            row-gap: 10px;
        }
        .menu{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .info{
            grid-area: info;
            background-image: url(../img/fondomadera.png);
            display: flex;
            justify-content: space-evenly;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
        }
        }
        footer{
            grid-area: footer;
            background-color: rgb(145, 238, 145, 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .footer-derecha{
            flex: 1;
            display: flex;
            flex-direction: row;
           }
           .social{
            width: 50px;
            height: 40px;
        }
        .footer-izquierda{
            flex:1;
            display: flex;
            flex-direction: column;
        }
    @media (max-width: 768px)
    {
        .grilla{
            display: grid;
            grid-template-rows:1fr 2fr 1fr 3fr ;
            grid-template-areas: "header" "portada" "info" "footer";
            row-gap: 20px;
        }
        
        header{
            grid-area: header;
            background-color: rgb(145, 238, 145. 0.5);
            display: flex;
            flex-direction: column;
        }
        .titulo{
            padding-bottom: 10px;
            font-size: 30px;
        }
    
        header{
            .logo{
                flex: 1;
            }
        } 
        nav{
            flex:1;
        }
        .portada{
            grid-area: portada;
            background-color: rgb(145, 238, 145, 0.5);
            align-items: center;
            padding: 30px;
            display: flex;
        }
        .fotos{
            display: flex;
            justify-content: center;
            column-gap: 20px;
            padding: 30px;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            row-gap: 10px;
        }
        .menu{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 10px;
        }
        .info{
            grid-area: info;
            background-image: url(../img/fondomadera.png);
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
        }
        footer{
            grid-area: footer;
            background-color: rgb(145, 238, 145, 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .footer-derecha{
            flex: 1;
            display: flex;
            flex-direction: row;
           }
           .social{
            width: 50px;
            height: 40px;
        }
        .footer-izquierda{
            flex:1;
            display: flex;
            flex-direction: column;
        }
    }
    /* Codigo mapa */
    @media (max-width: 320px){
        img{
            width: 200px;
            height: 200px;
        }
    }
    
    